
.horizontal-spacer{
	width:100%;
}


/*
   LinkBar
*/

.link-bar {
	background:linear-gradient(green, darkGreen);
	padding:0px;
	display:flex;
}

.navigation-link, .horizontal-spacer {
	color:white;
	background-image: linear-gradient(green, darkGreen);
	padding:10px;
	text-decoration:none;
	display:flex;
	white-space: nowrap;
}

.navigation-link:hover {
	background-image: linear-gradient(darkGreen, green);
}

/*
   End LinkBar
*/


h1 {
	background:linear-gradient(to left, lightGreen, green, lightGreen);
	color:white;
	padding:10px;
	text-align: center;
}

.header-wrapper {
	background:lightGreen;
	padding:12px;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.content-wrapper {
	background:linear-gradient(lightGreen, white);
    height: 100%;
    text-align:center;
}

.content-inner-wrapper {
	background:white;
    margin:auto;
    height: 90%;
    width: 90%;
    
    border:2px solid black;
    border-radius:10px;
    
    text-align:left;
    padding:10px;
}

